In [2]:
from tables import *
import numpy

In [22]:
class tara_entry(IsDescription):
    ID=StringCol(20)
    gene_id=StringCol(20)
    eggNOG_OG=StringCol(20)
    KEGG_ko=StringCol(6)
    KEGG_module=StringCol(30)
    kingdom=StringCol(30)
    phylum=StringCol(30)
    phyclass=StringCol(30)
    order=StringCol(30)
    family=StringCol(30)
    genus=StringCol(30)
    species=StringCol(30)
    sequence=StringCol(30)

In [30]:
h5file.close()
h5file = open_file("tutorial1.h5", mode = "w", title = "Test file")

In [31]:
group = h5file.create_group("/", 'detector', 'Detector information')

table = h5file.create_table(group, 'readout', tara_entry, "Readout example")

ClosedNodeError: the node object is closed

In [25]:
print h5file

tutorial1.h5 (File) 'Test file'
Last modif.: 'Tue Nov  3 15:08:38 2015'
Object Tree:
/ (RootGroup) 'Test file'
/detector (Group) 'Detector information'
/detector/readout (Table(0,)) 'Readout example'

In [37]:
import sqlite3
import os

In [38]:
sqlite_file='tara_db.sqlite'
table_name1="tara_db"
new_field="id_column"
field_type="TEXT"

conn=sqlite3.connect(sqlite_file)
c=conn.cursor()

c.execute('CREATE TABLE {tn} ({nf} {ft} PRIMARY KEY)'\
    .format(tn=table_name1, nf=new_field, ft=field_type))

conn.commit()
conn.close()

OperationalError: table tara_db already exists

In [41]:
sqlite_file='tara_db.sqlite'
table_name1="tara_db"
id_column='ID'
column1="gene_id"
column2="eggNOG_OG"
column3="KEGG_ko"
column4="kingdom"
column5="phylum"
column6="class"
column7="order"
column8="family"
column9="genus"
column10="species"
column11="sequence"
column_type='TEXT'

columns=[column1, column2, column3, column4, column5, column6, column7, column8,
        column9, column10, column11]

conn=sqlite3.connect(sqlite_file)
c=conn.cursor()

for i in columns:
    c.execute("ALTER TABLE {tn} ADD COLUMN '{cn}' {ct}"\
          .format(tn=table_name1, cn=i, ct=column_type))

conn.commit()
conn.close()

OperationalError: duplicate column name: gene_id

In [43]:
tinfo=open("./example.tara.tsv").readlines()
row=tinfo[0]

In [49]:
sqlite_file='tara_db.sqlite'
table_name1="tara_db"

id_column='ID'
column1="gene_id"
column2="eggNOG_OG"
column3="KEGG_ko"
column4="kingdom"
column5="phylum"
column6="class"
column7="order"
column8="family"
column9="genus"
column10="species"
column11="sequence"
column_type='TEXT'

columns=[column1, column2, column3, column4, column5, column6, column7, column8,
        column9, column10, column11]

conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

vec=row.replace("\n","").split("\t")
ID=vec[0]
gene_id=vec[1]

try:
    c.execute("INSERT INTO {tn} ({idf}, {cn}) VALUES ("+ID+","+gene_id+")".\
        format(tn=table_name1, idf=id_column, cn=column1))
except sqlite3.IntegrityError:
    print('ERROR: ID already exists in PRIMARY KEY column {}'.format(id_column))

OperationalError: unrecognized token: "{"

Set up a sqlite3 database... below appears to work for the tara file:

In [59]:
conn=sqlite3.connect('tara4.sqlite')
c=conn.cursor()
c.execute('''CREATE TABLE taratbl
            (ID primary key, gene, egg, ko, kfunc)''')
with open("./example.tara.tsv") as infile:
    for r in infile:
        vec=r.replace('"','').split("\t")
        ID=vec[0]
        gene=vec[1]
        egg=vec[2]
        ko=vec[3]
        kfunc=vec[4]
        c.execute("INSERT INTO taratbl VALUES ('"+ID+"','"+gene+"','"+egg+"','"+ko+"','"+kfunc+"')")
conn.commit()
conn.close()

Now to query the database:

In [70]:
conn=sqlite3.connect('tara4.sqlite')
c=conn.cursor()
tara_id="OM-RGC.v1.040154628"


c.execute("SELECT * from taratbl where ID='"+tara_id+"'")
output=c.fetchall()
gene=output[0][1]
egg=output[0][2]
ko=output[0][3]
kfunc=output[0][4]

print(gene, egg, ko, kfunc)
print gene

(u'483219.LILAB_09250', u'', u'', u'')
483219.LILAB_09250

In [67]:
type(output)
for l in output:
    print type(l)

print output[0][1]

<type 'tuple'>
472759.Nhal_2562